/Qt_App/Qt_App.pro.user
.DS_Store
/stm32_uart_mqtt/Debug
/stm32_uart_mqtt/.project
/build-Qt_App-Qt_5_10_0_for_iOS-Debug
/stm32_uart_mqtt/STM32F4DISCOVERY.xml
/stm32_uart_mqtt/.project
STM32F4DISCOVERY.xml
/build_release
